header{
  height: 120px;
}

main{
  height: calc(100vh - 200px);
  background-color: aquamarine;
}

.block{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: calc(100% / 10);
  height: calc(100% / 10);
}
.blockClicked{
  background-color: aqua;
}

footer{
  height: 80px;
}